---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Marshmalloween AR">
  <main
    class="flex flex-col w-full h-full bg-[#E20031] items-center justify-center px-8 gap-16"
  >
    <img
      src="/logo.png"
      alt="Partners logo"
      class="w-full drop-shadow-[10px_10px_8px_#12121288]"
    />
    <a
      href="/ar"
      class="bg-white rounded-xl font-[FrootLoops] text-[#E20031] shadow-lg shadow-stone-900/60 px-4 py-2 text-3xl font-semibold"
    >
      Experiencia AR
    </a>
  </main>
</Layout>
