<div
  id="rotationTutorial"
  style={{ display: "none", zIndex: "999" }}
  class="fixed top-0 left-0 w-full pointer-events-none h-screen justify-center items-center"
>
  <div class="opacity-80">
    <div class="handGraphic">
      <svg
        width="118"
        height="118"
        viewBox="0 0 118 118"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1243_794)">
          <path
            d="M36.3718 15.1582C40.6505 14.0117 45.3113 16.7713 46.4832 21.1452L51.3289 39.2293C53.6235 35.4426 59.4517 33.4916 64.4833 36.9273C67.9245 33.2317 73.9811 33.9656 76.5675 36.8825C85.032 32.8725 90.5391 37.3989 92.9972 46.5729C93.1305 47.0702 93.6047 48.9872 93.7384 49.4801C96.7762 60.6956 91.8437 64.914 92.8036 73.7486C93.0428 75.9504 91.6336 77.9966 89.4942 78.5698L58.4291 86.8937L58.4288 86.8934C55.102 87.7827 51.4142 86.714 49.1067 83.866C45.3515 79.265 35.5951 68.9655 29.8841 68.1427C26.2104 67.6136 23.579 65.6813 22.6741 62.3101C21.0108 56.1128 26.2281 50.1473 32.6509 51.0727C34.3386 51.316 36.0734 51.7691 37.8506 52.4267L30.6085 25.3988C29.4705 21.1517 32.155 16.2881 36.3718 15.1582ZM56.6227 90.4835L91.396 81.1661C93.7967 80.5228 96.2641 81.9474 96.9074 84.348L99.2368 93.0414C99.88 95.442 98.4554 97.9095 96.0548 98.5527L61.2814 107.87C58.8808 108.513 56.4133 107.089 55.7701 104.688L53.4407 95.9949C52.7975 93.5943 54.2221 91.1268 56.6227 90.4835ZM88.4082 87.4018C86.4076 87.9379 85.2205 89.9941 85.7565 91.9946C86.2926 93.9952 88.3488 95.1823 90.3493 94.6463C92.3499 94.1102 93.537 92.0541 93.001 90.0535C92.4649 88.0529 90.4087 86.8658 88.4082 87.4018Z"
            fill="#f7f7f7dd"></path>
        </g>
        <defs>
          <clipPath id="clip0_1243_794">
            <rect
              width="96"
              height="96"
              fill="white"
              transform="translate(0.212402 24.8467) rotate(-15)"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <svg
      class="arrowGraphic"
      width="158"
      height="30"
      viewBox="0 0 158 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M157.258 12.2423C157.785 11.2715 157.425 10.0574 156.454 9.53038L140.635 0.942726C139.664 0.415744 138.45 0.775494 137.923 1.74625C137.396 2.717 137.756 3.93116 138.726 4.45814L152.788 12.0916L145.155 26.1533C144.628 27.124 144.987 28.3382 145.958 28.8652C146.929 29.3921 148.143 29.0324 148.67 28.0616L157.258 12.2423ZM1.06281 9.52126C0.087021 10.0389 -0.284422 11.2495 0.233172 12.2253L8.66785 28.1267C9.18545 29.1025 10.3961 29.474 11.3719 28.9564C12.3477 28.4388 12.7191 27.2281 12.2015 26.2523L4.70401 12.1177L18.8386 4.62023C19.8144 4.10264 20.1859 2.89201 19.6683 1.91622C19.1507 0.940424 17.9401 0.568982 16.9643 1.08658L1.06281 9.52126ZM154.932 9.37049C101.328 25.2532 46.2299 22.7666 2.58664 9.37606L1.41336 13.2001C45.7701 26.8096 101.672 29.323 156.068 13.2057L154.932 9.37049Z"
        fill="#f7f7f7dd"></path>
    </svg>
  </div>
</div>

<style>
  .handGraphic {
    padding-top: 40px;
    transform-origin: top center;
    animation: rotateLoop 2s infinite linear;
  }
  .handGraphic svg {
    position: relative;
    left: 24px;
  }

  @keyframes rotateLoop {
    0%,
    100% {
      transform: rotateZ(-25deg);
    }
    50% {
      transform: rotateZ(25deg);
    }
  }
</style>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const canvas = document.querySelector(".a-canvas");

    canvas?.addEventListener("touchstart", () => {
      document.getElementById("rotationTutorial")!.remove();
    });
    canvas?.addEventListener("mousedown", () => {
      document.getElementById("rotationTutorial")!.remove();
    });
  });
</script>
