---
import AnimationsPanel from "../../components/AnimationsPanel.astro";
import Layout from "../../layouts/Layout.astro";
import type { IAnimation } from "../../types/customInterfaces";
import { animationsData } from "../../data/animationsData";
import RotationSlider from "../../components/RotationSlider.astro";

const { title } = Astro.params;

export async function getStaticPaths() {
  return [
    {
      params: { title: "celula-animal" },
    },
    {
      params: { title: "celula-eucariota" },
    },
    {
      params: { title: "celula-procariota" },
    },
    {
      params: { title: "celula-vegetal" },
    },
    {
      params: { title: "celula-sanguinea" },
    },
    {
      params: { title: "celula-muscular" },
    },
    {
      params: { title: "neurona" },
    },
    {
      params: { title: "piel" },
    },
    {
      params: { title: "celula-osea" },
    },
    {
      params: { title: "celula-reproductiva" },
    },
  ];
}

const animations: IAnimation[] = animationsData[title];
---

<Layout title={title!}>
  <main class="h-full bg-primary">
    <section class="h-full relative px-4 pb-4 flex flex-col">
      <img
        src="/ar-bg-leaves.png"
        alt="Fondo de hojas"
        class="absolute z-10 top-0 left-0 w-full h-full pointer-events-none"
      />
      <nav class="relative z-50 flex items-center py-3 justify-start">
        <a
          href="#"
          id="goBackAnchor"
          class="flex gap-0 items-center text-light underline"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5 8.25 12l7.5-7.5"></path>
          </svg>
          Volver
        </a>
      </nav>
      <div class="relative block w-full h-[calc(100%-16px)] bg-light">
        <a-scene
          vr-mode-ui="enabled: false;"
          loading-screen="enabled: false;"
          renderer="logarithmicDepthBuffer: true;"
          arjs="trackingMethod: best; sourceType: webcam; debugUIEnabled: false;"
          id="scene"
          embedded
          gesture-detector
        >
          <a-assets>
            <a-asset-item
              id="celula-animal"
              src="/assets/celula-animal/model.glb"></a-asset-item>
          </a-assets>
          <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>
          <a-marker
            id="celulaAnimalMarker"
            type="pattern"
            preset="custom"
            url="/assets/celula-animal/marker.patt"
            emitevents="true"
            smooth="true"
            smoothCount="10"
            smoothTolerance=".01"
            smoothThreshold="5"
            raycaster="objects: .clickable"
            cursor="fuse: false; rayOrigin: mouse;"
          >
            <a-entity
              id="animatedModel"
              position="0 0.5 -0.1"
              rotation="0 90 0"
              scale="12 6 12"
              animation-mixer="clip: *;loop: repeat"
              gltf-model="#celula-animal"
              class="clickable"
              gesture-handler="minScale: 0.25; maxScale: 10; rotationFactor: 0"
            ></a-entity>
          </a-marker>
        </a-scene>
      </div>
      <AnimationsPanel animations={animations} />
    </section>
  </main>
</Layout>

<script>
  function waitForElm(selector: string) {
    return new Promise((resolve) => {
      if (document.querySelector(selector)) {
        return resolve(document.querySelector(selector));
      }

      const observer = new MutationObserver((mutations) => {
        if (document.querySelector(selector)) {
          observer.disconnect();
          resolve(document.querySelector(selector));
        }
      });

      // If you get "parameter 1 is not of type 'Node'" error, see https://stackoverflow.com/a/77855838/492336
      observer.observe(document.body, {
        childList: true,
        subtree: true,
      });
    });
  }
  const goBackAnchor = document.getElementById(
    "goBackAnchor"
  ) as HTMLAnchorElement;

  window.addEventListener("DOMContentLoaded", async () => {
    const video = (await waitForElm("video")) as HTMLElement;
    const scene = document.querySelector("a-scene")!;
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());

    goBackAnchor.href = params["cb_url"] || "#";

    video.style.display = "unset !important";
    video.style.width = `${scene.clientWidth}px !important`;
    video.style.height = `${scene.clientHeight}px !important`;
    scene.appendChild(video);
  });
</script>

<script is:inline>
  const sceneEl = document.getElementById("scene");
  let isMarkerVisible = false;

  sceneEl.addEventListener("markerFound", (e) => {
    isMarkerVisible = true;
  });

  sceneEl.addEventListener("markerLost", (e) => {
    isMarkerVisible = false;
  });
  sceneEl.addEventListener("onefingermove", handleRotation);
  sceneEl.addEventListener("twofingermove", handleScale);

  function handleRotation(event) {
    console.log(event);
    if (isMarkerVisible) {
      el.object3D.rotation.y += event.detail.positionChange.x * rotationFactor;

      el.object3D.rotation.x += event.detail.positionChange.y * rotationFactor;
    }
  }
  function handleScale(event) {
    if (isMarkerVisible) {
      this.scaleFactor *=
        1 + event.detail.spreadChange / event.detail.startSpread;

      this.scaleFactor = Math.min(
        Math.max(this.scaleFactor, this.data.minScale),
        this.data.maxScale
      );

      el.object3D.scale.x = scaleFactor * initialScale.x;
      el.object3D.scale.y = scaleFactor * initialScale.y;
      el.object3D.scale.z = scaleFactor * initialScale.z;
    }
  }
</script>

<style is:inline>
  a-scene {
    display: block !important;
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
  }

  .a-canvas {
    z-index: 50 !important;
  }

  video {
    display: inline-block !important;
    /*width: 100% !important;
      height: 100% !important;*/
    position: relative !important;
    z-index: 1 !important;
    margin: 0 !important;
    object-fit: cover !important;
  }
</style>
