---
import AnimationsPanel from "../../components/AnimationsPanel.astro";
import Layout from "../../layouts/Layout.astro";
import { celulaReproductivaAnimations } from "../../data/animationsData";
---

<Layout title={"Células Reproductivas"}>
  <main class="h-full bg-primary">
    <section class="h-full relative px-4 pb-4 flex flex-col">
      <img
        src="/ar-bg-leaves.png"
        alt="Fondo de hojas"
        class="absolute z-10 top-0 left-0 w-full h-full pointer-events-none"
      />
      <nav class="relative z-50 flex items-center py-3 justify-start">
        <a
          href="#"
          id="goBackAnchor"
          class="flex gap-0 items-center text-light underline"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5 8.25 12l7.5-7.5"></path>
          </svg>
          Volver
        </a>
      </nav>
      <div
        class="overflow-hidden relative block w-full h-[calc(100%-16px)] bg-light"
      >
        <a-scene
          light="defaultLightsEnabled: false"
          vr-mode-ui="enabled: false;"
          loading-screen="enabled: false;"
          renderer="logarithmicDepthBuffer: true;"
          arjs="trackingMethod: best; sourceType: webcam; debugUIEnabled: false;"
          id="scene"
          embedded
          gesture-detector
        >
          <a-assets>
            <a-asset-item
              id="espermatozoide-model"
              src=`/assets/espermatozoide/model.glb`></a-asset-item>
            <a-asset-item id="ovulo-model" src=`/assets/ovulo/model.glb`
            ></a-asset-item>
          </a-assets>
          <a-camera
            scale="1 1 1"
            position="0 0 0"
            look-controls="enabled: false"
          >
          </a-camera>

          <!--  <a-entity id="rig" position="0 0 0">
            <a-camera id="camera"></a-camera>
          </a-entity> -->

          <a-marker
            id="celulaAnimalMarker"
            type="pattern"
            preset="custom"
            url="/assets/celula-animal/marker.patt"
            emitevents="true"
            smooth="true"
            scale="0 0 0"
            smoothCount="10"
            smoothTolerance=".01"
            smoothThreshold="5"
            raycaster="objects: .clickable"
            cursor="fuse: false; rayOrigin: mouse;"
            visible
          >
            <a-entity id="animatedModel" rotation="0 90 0">
              <!-- ESPERMATOZOIDE -->
              <a-entity
                id="espermatozoideAnimated"
                position="-0.6 1.5 -0.1"
                rotation="0 0 0"
                scale="10 10 10"
                animation-mixer="clip: Espermatozoide.idle; timeScale: 1"
                gltf-model="#espermatozoide-model"
                class="clickable"
                gesture-handler="minScale: 0.25; maxScale: 10; rotationFactor: 0"
              ></a-entity>

              <!-- OVULO -->
              <a-entity
                id="ovuloAnimated"
                position="0.6 0.5 -0.1"
                rotation="0 0 0"
                scale="10 10 10"
                animation-mixer="clip: Membrana.idle; timeScale: 1"
                gltf-model="#ovulo-model"
                class="clickable"
                gesture-handler="minScale: 0.25; maxScale: 10; rotationFactor: 0"
              ></a-entity>
            </a-entity>
          </a-marker>

          <a-entity light="type: ambient; color: #fff"></a-entity>

          <a-entity light="color: #fff; intensity: 1.25" position="0 2 1"
          ></a-entity>
        </a-scene>
      </div>
      <AnimationsPanel
        inactive={true}
        animations={celulaReproductivaAnimations}
      />

      <!-- somsoms -->

      <!--  <div
        id="slidersWrapper"
        class="w-full gap-0 p-4 absolute z-[9999] bottom-0 left-0"
      >
        <RotationSlider />
        <div
          id="animationsPanel"
          class="w-full flex gap-0 p-4 items-center px-6 bg-gradient-to-b from-tertiary to-secondary z-50 left-0 justify-center"
        >
          <div class="w-full overflow-x-hidden">
            <div
              id="animationWrapper"
              style={{ minWidth: `${celulaReproductivaAnimations.length}%` }}
              class="flex transition-transform items-center"
            >
              <div class="flex-1 h-full flex gap-1 flex-col overflow-y-auto">
                <h4 class="text-light leading-tight text-xl font-bold">
                  Célula Reproductiva
                </h4>
                <p class="text-light/80 max-h-28 text-sm max-w-[90%]">
                  Son como los "creadores de la vida". Las células
                  reproductivas, como los óvulos y espermatozoides, se combinan
                  para formar nuevas células y dar origen a nuevos seres vivos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </section>
  </main>
</Layout>

<script src="../../scripts/title.js"></script>
