---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script is:inline src="https://aframe.io/releases/1.0.4/aframe.min.js"
    ></script>
    <script
      is:inline
      src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"
    ></script>
    <script
      is:inline
      src="https://raw.githack.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"
    ></script>
    <script
      is:inline
      src="https://raw.githack.com/AR-js-org/studio-backend/master/src/modules/marker/tools/gesture-detector.js"
    ></script>
    <script
      is:inline
      src="https://raw.githack.com/AR-js-org/studio-backend/master/src/modules/marker/tools/gesture-handler.js"
    ></script>

    <script is:inline src="//cdn.8thwall.com/web/xrextras/xrextras.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  body {
    height: 100vh !important;
    width: 100% !important;
    margin: 0 !important;
    overflow: hidden;
  }
</style>
